[general]
logfile = /var/logs/wowinfobot.log
redis_host = 127.0.0.1 
redis_port = 6379 
config_db = 1
cache_db = 2

[discord]
superadmin_id = 0000000000000000
api_key = abcdefghijklmnopqrstuvwxyz
dev_key = abcdefghijklmnopqrstuvwxyz

[warcraftlogs]
api_url = https://classic.warcraftlogs.com/v1/

[blizzard]
api_url = https://us.api.blizzard.com/
client_id = abcdefghijklmnopqrstuvwxyz
secret = abcdefghijklmnopqrstuvwxyz

[tsm]
api_url = https://api.nexushub.co/wow-classic/v1/
