[general]
loglevel = INFO
logfile = /home/user/wowinfobot.log

[server]
server_name = Bigglesworth
server_region = US
server_timezone = America/Los_Angeles
guild_name = <Change Me>
faction = <Change Me>

[discord]
command_prefix = ?
api_key = <Change Me>

[warcraftlogs_api]
api_url = https://classic.warcraftlogs.com/v1/
api_key = <Change Me>

[blizzard_api]
api_url = https://us.api.blizzard.com/
client_id = <Change Me>
client_secret = <Change Me>

[tsm_api]
api_url = https://api.nexushub.co/wow-classic/v1/
fuzzy_search_threshold = 0.8
